<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<title>Page d'accueil</title>
</head>

<body>
	<div class="center-div">
		<h1>Bienvenue sur la page d'accueil</h1>
		<ul>
			<li><a href="/annulerReservation">Annuler Réservation</a></li>
			<li><a href="/listAteliers">Liste Atelier</a></li>
			<li><a href="/reservationAtelier">Réservation</a></li>
		</ul>
	</div>
</body>

</html>